body {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: Lato, sans-serif;
  max-width: 100%;
  background: #F9F9FA;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  height: 77px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  padding-top: 27px;
  padding-bottom: 28px;
  margin-bottom: 0;
}

.header-menu {
  padding-top: 12px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%;
}

.header-menu .active {
  padding-bottom: 29px;
  border-bottom: 2px solid #13B05A;
}

.header-menu .active a {
  color: #13B05A;
}

.header-menu a {
  color: rgba(30, 40, 52, 0.6);
  font-weight: 600;
  font-size: 13px;
}

.header-menu a:hover {
  color: #13B05A;
}

.header-tel {
  margin-top: 20px;
}

.header-tel .phone-tel {
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  margin-top: 20px;
}

.header-tel__call a {
  color: #C6C8CB;
  font-size: 12px;
  text-decoration: underline;
}

.pay-form {
  margin: 0 auto;
  padding-top: 77px;
  text-align: center;
  width: 500px;
}

.pay-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
}

.pay-form form input {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  border: 0px;
  border-radius: 50px;
  margin-top: 22px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.pay-form form input:focus {
  border: 0px;
  border-style: none;
  outline: none;
}

.type {
  font-size: 20px;
  font-weight: 500;
  margin-top: 54px;
}

.cost {
  font-size: 16px;
  margin-top: 32px;
}

.cost .money {
  color: #13B05A;
  font-weight: bold;
}

.pay-button {
  margin-top: 56px;
}

.pay-button .button {
  color: #FFF;
  border: 0px;
}

.pay-button .button:focus {
  outline: none;
}

.button {
  font-size: 16px;
  font-weight: 500;
  background: #50D166;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 70px;
  padding: 11px 32px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.button:hover {
  background-color: #32bc49;
}

.button-o {
  color: #13B05A;
  border: 1px solid #13B05A;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 70px;
  padding: 11px 43px;
  margin-left: 27%;
  background-color: transparent;
}

.button-o:hover {
  background: #50D166;
  color: #FFF;
}

.section-title {
  margin: 0 auto;
  padding-top: 85px;
  font-size: 30px;
  text-align: center;
}

hr {
  margin-top: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-bottom: 0;
}

.footer {
  -webkit-clip-path: ellipse(100% 82% at 50% 82%);
  clip-path: ellipse(100% 82% at 50% 82%);
  background: #1E2834;
  height: 365px;
  margin-top: 95px;
}

.footer-form {
  padding-top: 61px;
  margin: 0 32%;
}

.footer-form__title {
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.footer-input {
  border: 0px;
  background-color: #fff;
  border-radius: 50px;
  padding-left: 15px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 25.5%;
}

.footer-input__wrap {
  width: 500px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background: #FFFFFF;
  margin: 0 auto;
  margin-top: 30px;
}

.footer-button {
  color: #FFFFFF;
  width: 180px;
  font-size: 16px;
  font-weight: 600;
  background: #13B05A;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 70px;
  padding: 11px 42px;
  border: 0px;
}

.footer-hr {
  border: 1px solid rgba(255, 255, 255, 0.05);
  width: 640px;
  margin-top: 53px;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.footer-menu {
  width: 490px;
  margin-left: -7%;
  vertical-align: middle;
  margin-top: 25px;
}

.footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-menu .item {
  display: inline-block;
}

.footer-menu .item a {
  color: #6D737B;
  font-size: 14px;
  font-weight: 600;
}

.footer-menu .item a:hover {
  color: #13B05A;
}

.footer .logo {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
  margin-top: 42px;
}

.footer .social-buttons {
  vertical-align: middle;
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 10%;
}